<main role="main">
    <div class="py-5 bg-light">
        <div class="container">
            <div *ngIf="isLoading" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="row">
                <h1 *ngIf="user?.name">Welcome {{user.name}}</h1>
            </div>
            <select [(ngModel)]="selectedServer"
                    class='form-control'
                    (change)='onChangeServer($event.target.value)'
            >
                <option [ngValue]="server" *ngFor="let server of servers">
                    {{ server.id }} -  {{ server.name }} - {{server.ip}}
                </option>
            </select>
            <ng-container *ngIf="selectedServer">
                <div *ngIf="serverStatus?.status < 1" class="alert alert-success" role="alert">
                    {{ selectedServer.name }} - {{selectedServer.ip}} has Green status.
                </div>
                <div *ngIf="serverStatus?.status > 3 " class="alert alert-danger" role="alert">
                    {{ selectedServer.name }} - {{selectedServer.ip}} has RED status.
                </div>
                <div *ngIf="serverStatus?.status > 0 && serverStatus?.status < 3  " class="alert alert-warning" role="alert">
                    {{ selectedServer.name }} - {{selectedServer.ip}} has ORANGE status.
                </div>
            </ng-container>
        </div>
    </div>
</main>
