<main role="main">
    <div class="container">
        <form class="form-signin" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="text-center mb-4">
                <h1 class="h3 mt-3 mb-3 font-weight-normal">Welcome</h1>
                <hr>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !name.valid && (name.dirty || name.touched) }">
                <label for="name">Name</label>
                <input type="name" [(ngModel)]="user.name" name="name" #name="ngModel" required class="form-control"
                       id="name" aria-describedby="nameHelp" placeholder="Enter name">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-feedback">
                    <div *ngIf="name?.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group"
                 [ngClass]="{ 'has-error': !password.valid && (password.dirty || password.touched) }">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required
                       minlength="4" class="form-control" id="password" placeholder="Password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-feedback">
                    <div *ngIf="password?.errors.required">Password is required</div>
                    <div *ngIf="password?.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                Ops: {{ error.error }}
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block mt-5" type="submit">Login
            </button>
        </form>
    </div>
</main>
